.contact-form {
   border: 2px;
    border-color: #000000;  
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px #000000;
}
